body,
body * {
    /*
    box-sizing: unset;
    padding: unset;
    color: unset;
    text-decoration: unset;
    */
    background-color: #000052;
    font-family: 'VT323', monospace;
}
h1 {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 6rem;
    color: rgb(247, 243, 10);
    margin-bottom: 12vh;
}

.control-buttons-top{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 600px;
    margin-bottom: 12px;
}
.button {
    flex: 1;
    color: rgb(252, 239, 55);
    background-color: #000052;
    padding: 6px 6px;
    margin: 4px;
    gap: 6px;
    font-size: 18px;
    font-family: 'VT323', monospace;
    border: 2px solid rgb(255,4,67);
    border-radius: 6px;
}

input[type="color"] {
    height: 34px;
}


.button:hover {
    background-color:rgb(252,239,55);
    color: rgb(255,4,67);
    box-shadow: 4px 4px rgb(131, 22, 255);
}



.container {
    padding: 12px 12px;
    margin: 0 auto;
    display:  flex;
    background-color: white;
    justify-content: center;
    min-width: 210px;
    width: 630px;
    height: 600px;
    min-height: 200px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 12px rgb(255, 4, 67);
}

.control-buttons-bottom {
    display: flex;
    margin: 8px auto;
    width: 600px;
    
}

.clear {
    flex: 1;
    color: rgb(252, 239, 55);
    background-color: #000052;
    padding: 6px 6px;
    margin: 4px;
    gap: 6px;
    font-size: 18px;
    font-family: 'VT323', monospace;
    border: 2px solid rgb(255,4,67);
    border-radius: 6px;
    flex: 3;
}


.slider {
    display: flex;
    margin-left: 20px;
    flex: 7;
    flex-direction: column;
}
.sliderText {
    color: red;
    text-align: center;
}

.setSize {
    border: 1px solid yellow;
}


.sketchColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.sketchRow {
    background-color: whitesmoke;
    flex-direction: column;
    flex: 1;
    border: 1px solid rgb(105, 99, 99);
}

